body {
  margin: 0;
  padding: 0;
}

.box1{
  background: linear-gradient(210deg, rgba(218, 32, 224, 0.8), rgba(160, 73, 73, 0.8), rgba(192, 18, 134, 0), rgba(196, 8, 196, 0.918));
}

.box2{
  background: linear-gradient(210deg, rgba(52, 14, 221, 0.8), rgba(125, 73, 160, 0.8), rgba(15, 152, 231, 0), rgba(29, 6, 114, 0));
}

.box3{
  background: linear-gradient(210deg, rgba(243, 191, 2, 0.8), rgba(141, 131, 38, 0.8),rgb(44, 41, 10), rgba(223, 156, 11, 0.925));
}
.box4{
   background: linear-gradient(210deg, rgba(204, 19, 19, 0.8), rgba(214, 136, 18, 0.8),rgb(114, 6, 47), rgba(34,34,34,0));
}
.box5{
  background: linear-gradient(210deg, rgba(17, 216, 60, 0.8), rgba(1, 26, 27, 0.8),rgb(44, 41, 10), rgba(8, 219, 26, 0.904));
}

 button{
  display: inline-block;
  text-transform: uppercase;
  /* font-weight: 500; */
  font-style: normal;
  font-size: 0.625rem;
  letter-spacing: 0.3em;
  color: rgb(238, 227, 227);
  border-radius: 30px;
  padding: 18px 80px 20px;
  transition: all 0.7s  ease-out;
  background: linear-gradient(270deg, rgba(161, 159, 152, 0.8), rgba(73, 160, 131, 0.8), rgba(168, 48, 78, 0), rgba(34,34,34,0));
  background-size: 100% 100%;
  text-decoration: none;
  margin: 0.625rem;
  border: 1px solid hsl(75, 27%, 49%);
 }
 
 button:hover {
  color: rgba(26, 25, 25, 0.747);
  border: 1px solid hsla(20, 67%, 4%, 0.925);
  background-position: 99% 50%;
  font-weight: bold; 
}

.rowbtn {
  border-radius: 50%;
  padding: 5px;

}

.center {
  display: block;

}
#content {
  margin-top: 10%;
  opacity:0.5;
  position: absolute;
  margin-left: 10%;
}

.card-body {
  opacity: 0.9;
  font-weight: bolder;
 }

.droplist{
  color: rgba(20, 5, 5, 0.966);
  font-weight: bolder;
}

.errmsg {
    padding-left: 3%;
}


/* .form-group {
  padding: 20px;
} */

.flinks{
  margin-right:20px;
  float:left;
  padding-top: 1%;
  margin-top:1%;
}

.footer {
  position:fixed;
  width: 100%;
  padding:5%;
  margin-top: 5%;
  text-align: left;
  bottom:0;
  left:0;
  background-color: linear-gradient(270deg, rgba(223, 178, 16, 0.8), rgba(241, 198, 4, 0.8), rgba(222, 238, 6, 0.726), rgba(223, 178, 16, 0.8));
  color:  rgb(244, 247, 246);
}

.form-control{
  color : black;
}
/* 
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}  */
 
.inputsection {
   margin-top:2%;
   margin-left: 5%;
   margin-right: 5%;
   padding-left:5%;
   padding-right:5%;
   opacity: 0.6;
   padding-top: 5%;
   padding-bottom: 5%;
}



.form-control {
  opacity:0.8;
  /* background-color:rgba(0, 0, 0, 0);
  color:white; */
  border-radius: 5px; 
  height: 30px;
  outline:none; 
  transition:height 1s;
  -webkit-transition:height 1s; 
  color: rgb(48, 46, 46)
}

.droplist{
  height: 50px;
  color: rgb(48, 46, 46);
  font-weight: 600;
}
input {
  border-radius: 5px; 
  height: 30px;
}

/* .leftside {
  justify-content: left;
} */

.has-float-label {
  color: rgb(210, 216, 216);
}

.middlecontent{
 width: 100%;
 left:0; 
 padding-left:0;
 margin-left:0;
 margin-top:10;
 padding-top: 10;
 /* background-color: aqua; */
} 

.modaltitle {
  width: 100%;
  /* background-color: hsla(202, 59%, 77%, 0.97);
  color:rgb(20, 20, 20); */
}

.mainlink {
  font-size: 30px;
  width:25%;
  padding:3%;
  margin:2%;
}


.myname {
  float:right;
  margin-left: 60%;
  margin-right:0%;
  padding-right: 0%;
  padding-top: 2%;
  }

.mylg {
  padding-left: 30px;
}

.navbar {
  text-align: center;
  background-color: rgb(106, 112, 19);
  transition: all 0.7s  ease-out;
  background: linear-gradient(270deg, rgba(223, 178, 16, 0.8), rgba(241, 198, 4, 0.8), rgba(222, 238, 6, 0.726), rgba(223, 178, 16, 0.8));
  background-position: 1% 50%;
  color:  rgb(244, 247, 246);
}

.navbar:hover {
  color: rgba(193, 224, 13, 0.747);
  border: 1px solid hsla(20, 67%, 4%, 0.925);
  background-position: 99% 50%;
  font-weight: bold;
}


.otherlinks {
    width: 20%;
    height:100%;
    display: flex;
}



/* .rightside {
  justify-content: right;
} */

#searchvideo{
   width: 90%;
   margin-top:3%;
   padding-top: 5%;
   margin-left: 3%;
}

#searchFor{
  width: 90%;
}
select{
  color:black;
}

.subhead {
 
  text-align: left;
  margin-left:5;
  font-weight: bolder;
  font-size: 30px;
  
}

.studentcontent{
  overflow: scroll;
}

.icon-bar{
  /* background-color: rgb(238, 185, 106); */
  padding-top: 5%;
  /* padding-right: none;
  margin-right: none; */
  
}

/* nav  ul {
  list-style-type:  none;
  
} */
.sidemenulink{
  display:block;
  transition:all 0.3s ease;
 }

.list-group-item{
  border:none;
  background-color: rgb(39,43,48);
}



#tlogin {
  margin-bottom: 1%;
  padding-bottom: 2%;
  padding-top: 1%;
  margin-top: 1%;
}
.errmsg {
  color: white;
}
tr {
   font-weight: 500;
   font-style: normal;
   font-size: 0.825rem;
   letter-spacing: 0.3em;
   align-content: center;
   color: white;
}

th{
  color: white;
}

.tablehead {
  text-align: center;
 }


.tloginsection {
  margin-top:5%;
  padding-top:1%;
}

.tlink {
  padding:3%;
  margin:2%;
}

.vcontent{
  margin: 20;
  width: 90%;
}
tr:hover{
  color: rgb(219, 216, 18);
}
@media only screen and (max-width: 768px)
{

      footer {
        position: relative;
      }

      #timg {
        
         display: none;
      }

      .myvideo {
        width: 80%;
      }
       
      .sidemenulink{
        display: inline;
      }

}

@media only screen and (max-width: 991px)
{
  .sidemenulink{
    display: inline;
  }
  .icon-bar{
    align-items: center;
  }
}